#body {
    background-color: #F2F2F2;
    font-family: "蘋方-繁", "PingFang-TC", "Microsoft JhengHei", "Arial" !important;
}
#title_login, #login, #title_search, #search, #title_about, #ring1, #ring2, #title_resault, #table_result th, #s2_mode span, #search_again, #save_button, #subtitle_result {
    font-family: "sans-serif", "蘋方-繁", "PingFang-TC", "Microsoft JhengHei" !important;
}
#Nurse_Id {
    font-family: "PingFang-TC", "Microsoft JhengHei", "Arial";
}
#div_login {
    margin-top: 100px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
#div_search_result_button {
    float: right;
}
@media print {
    #div_search_result_button, #title_resault {
        display: none;
    }
    #div_search_result {
        display: block;
    }
    #pane, button {
        display: none;
    }
    #partner {
        white-space: nowrap;
    }
}
.center {
    top: 150px;
    position: relative;
    margin-right: auto;
    margin-left:  auto;
    clear:both;
}
.combobox {
    max-width: 350px;
}
#s2_mode {
    margin-top: -5px;
    margin-bottom: 5px;
}
#partner {
    white-space: nowrap;
}
#search-ring {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
#div_search_result_button {
    margin-bottom: 50px;
}
#overtime_chk {
    float: left;
    margin-right: 10px;
}
#div_search label {
    margin-top: 11px;
}
