.content,
#app {
    height: 100%;
}
#app .win-splitviewpanetoggle {
    float: left;
}

/* SplitView pane content style*/
#app .header {
    white-space: nowrap;
}

#app .title {
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
}

.trail-description {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Microsoft Jhenghei","Segoe UI","Selawik Semilight",Tahoma,Verdana,Arial,sans-serif;
}

#app .nav-commands {
    margin-top: 20px;
}

.win-splitviewcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
}

/*SplitView content style*/
#pane {
    background-color: rgb(220,220,220);
}
#app .contenttext {
    margin-left: 20px;
    margin-top: 6px;
}
/*Home vs trail controls*/

.show-trail .home-ui {
    display: none;
}

.show-home .trail-ui {
    display: none;
}

.home-ui {
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    
}